.help-text {
	background-color: #fafbcc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
	display: inline-block;

}

.help-text p {
	line-height: 12px;
	font-size: 13px;
	margin: 10px;
}

.books_form {
	padding-left: 20px;
	padding-right: 20px;
}

#message-window {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	width: 60%;
	display: table-cell;
	vertical-align: middle;
}

.message {
	border-radius: 2px;
	padding: 5px;
	text-align: center;
}

.message p {
	margin-top: auto;
	margin-bottom: auto;
}

.toggle-new-source-form {
	display: inline-block;
	vertical-align: top;
}