.table-holder {
  display: inline-block;
  width:48%;
  margin-left: 1%;
}

.tableholder table {
  margin:auto !important;
}

.text-center {
  text-align: center;
}

.table-holder h3 {
  text-align: center;
}
