#popup_div {
	display: none;
	background-color: #24343C;
	padding: 30px;
	border-radius: 8px;
	min-width: 80%;
}

#popup_div h4 {
	color: white;
}

#popup_div h3 {
	color: white;
	font-size: 22px;
	text-align: center;
}

.half_div {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}


.btn-regular {
	border-radius: 3px;
	border: solid #13232B 1px;
	padding: 5px;
	background-color: #F2F1F0;
	display: inline-block;
}

#add_entries_form {
	width: 95%;
}

.formset_entry {
	display: inline;
	max-width: 100px;
}


#popup_div .alert-danger li{
  color:white !important;
}

#popup_div ul.errorlist  {
	background: none;
	color: #ff483a;
}

#popup_div .error span, #popup_div .alert-error {
	color: #ff483a;
}

.balance_change_indicator {
	color: blue;
}

.balance_change_up {
	color:green;
}

.balance_change_down {
	color:red;
}