{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'def_css.css' %}">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<title></title>
</head>
<body>
<div class = 'container-fluid'>
	<div class = 'row'>
		{% block menu %}
		{% endblock %}
	</div>
</div>

<div class = 'container-fluid'>
	{% block main_window %}
	{% endblock %}
</div>


</body>
</html>

