{% extends 'admin/books/change_form.html' %}
{% load book_tags static %}



{% block extrastyle %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {{ block.super }}
{% endblock %}


{% block content %}
	{% admin_base_popup  %}
	<a href="#" formurl = '{% url "open_books:admin_single_entries" original.pk %}' class = 'btn btn-regular popup-btn'>Double Entry</a>
	<script type="text/javascript">
		$('.popup-btn').click(function() {
			showPopup($(this));
		})
	</script>
 	{{ block.super }}

{% endblock %}